# 문자열 추출하기

In [1]:
word = 'grail'
sent = 'a scratch'

In [2]:
print(word[0])

g

In [3]:
print(sent[0])

a

In [4]:
print(word[0:3])

gra

In [5]:
print(sent[-1])

h

In [6]:
print(sent[-9:-8])

a

In [7]:
print(sent[:-8])

a

## 전체 문자열을 추출할 때 음수를 사용하면 안 됩니다.

In [8]:
# 마지막 문자를 추출하려면 인덱스를 -1로 지정하면 됨
# 그러나 인덱스 슬라이싱 범위를 [0:-1]로 지정하면
# 마지막 문자는 추출되지 않음
print(sent[2:-1])

scratc

In [9]:
print(sent[-7:-1])

scratc

In [10]:
s_len = len(sent)
print(s_len)

9

In [11]:
print(sent[2:s_len])

scratch

## 왼쪽이나 오른쪽 범위를 지정하지 않고 문자열 추출하기

In [12]:
print(word[0:3])

gra

In [13]:
# 왼쪽 범위가 비어 있으면 문자열의 첫 번째 위치부터 문자열 추출
print(word[ :3])

gra

In [14]:
# 오른쪽 범위가 비어 있으면 문자열의 마지막 위치부터 문자열 추출
print(sent[2: ])

scratch

In [15]:
print(sent[ : ])

a scratch

In [18]:
# 자신을 포함하여 거리가 2인 인덱스의 문자를 추출(1칸씩 건너 뛰며 추출)
# sent[::3] 자신을 포함하여 거리가 3인 인덱스의 문자를 추출(2칸식 건너뛰며 추출)

print(sent[:: 2])
print(sent[:: 3])

asrth
act

## join, splitlines, replace 메서드
### 1. join 메서드
* join 메서드는 문자열을 연결하여 새로운 문자열을 반환하는 메서드

In [19]:
d1 = '40°' 
m1 = "46'" 
s1 = '52.837"' 
u1 = 'N'

d2 = '73°' 
m2 = "58'" 
s2 = '26.302"' 
u2 = 'W'

In [20]:
coords = ' '.join([d1, m1, s1, u1, d2, m2, s2, u2])
print(coords)

40° 46' 52.837" N 73° 58' 26.302" W

In [21]:
coords = ','.join([d1, m1, s1, u1, d2, m2, s2, u2])
print(coords)

40°,46',52.837",N,73°,58',26.302",W

In [22]:
coords = '.\n'.join([d1, m1, s1, u1, d2, m2, s2, u2])
print(coords)

40°.
46'.
52.837".
N.
73°.
58'.
26.302".
W

### 2. splitlines 메서드
* 여러 행을 가진 문자열을 분리한 다음 리스트로 반환

In [23]:
multi_str = """Guard: What? Ridden on a horse?
King Arthur: Yes!
Guard: You're using coconuts!
King Arthur: What?
Guard: You've got ... coconut[s] and you're bangin' 'em together. 
""" 
print(multi_str)

Guard: What? Ridden on a horse?
King Arthur: Yes!
Guard: You're using coconuts!
King Arthur: What?
Guard: You've got ... coconut[s] and you're bangin' 'em together.

In [24]:
# 여러 행을 가진 문자열을 분리한 다음 리스트로 반환

multi_str_split = multi_str.splitlines()
print(multi_str_split)
print(type(multi_str_split))

['Guard: What? Ridden on a horse?', 'King Arthur: Yes!', "Guard: You're using coconuts!", 'King Arthur: What?', "Guard: You've got ... coconut[s] and you're bangin' 'em together. "]
<class 'list'>

In [25]:
# 인덱스 슬라이싱을 응용 Guarad의 대사만 가져옴

guard = multi_str_split[::2]
print(guard)

['Guard: What? Ridden on a horse?', "Guard: You're using coconuts!", "Guard: You've got ... coconut[s] and you're bangin' 'em together. "]

### 4. replace 메서드
* 문자열을 치환해 주는 replace 메서드를 이용 "Guard:"를 ""로 치환

In [26]:
guard = multi_str.replace("Guard: ", "").splitlines()[::2]
print(guard)

['What? Ridden on a horse?', "You're using coconuts!", "You've got ... coconut[s] and you're bangin' 'em together. "]

## 문자열 포매팅하기
* 출력할 문자열의 형식을 지정하거나 변수를 조합하여 출력하는 방법

In [28]:
# 단어를 삽입할 위치를 {}로 지정
# format 메서드에 원하는 단어를 전달하면 {}의 위치에 전달한 단어를 삽입해 출력
# {} 플레이스 홀더라고 부름
var = 'flesh wound'
s = "lt's just a {}!"

print(s.format(var))
print(s.format('scratch'))

lt's just a flesh wound!
lt's just a scratch!

In [30]:
# 플레이스 홀더는 여러 개 사용 가능
# 인덱스를 지정한 플레이스 홀더 사용

s = """Black Knight: 'Tis but a {0}.
King Arthur: A {1}? Your arm's off!
""" 
print(s.format('scratch' , 'hi'))

Black Knight: 'Tis but a scratch.
King Arthur: A hi? Your arm's off!

In [31]:
# 플레이스 홀더에는 변수를 지정해도 됩니다. 
# 단 , format 메서드에 전달하는 문자열도 변수에 담아 전달해야함

s = 'Hayden Planetarium Coordinates: {lat}, {lon}' 
print(s.format(lat='40.7815° N', lon='73.9733° W'))

Hayden Planetarium Coordinates: 40.7815° N, 73.9733° W

In [32]:
s = 'Hayden Planetarium Coordinates: {0}, {1}' 
print(s.format('40.7815° N','73.9733° W'))

Hayden Planetarium Coordinates: 40.7815° N, 73.9733° W

## 숫자 데이터 포매팅 하기

In [33]:
print('Some digits of pi: {}'.format(3.14159265359))

Some digits of pi: 3.14159265359

In [34]:
# :,를 사용 ==> 쉼표를 넣어 숫자 표현 가능
"In 2005, Lu Chao of {:,} digits of pi".format(67890)

'In 2005, Lu Chao of 67,890 digits of pi'

In [36]:
"In 2005, Lu Chao of {:10,} digits of pi".format(67890) # 저자리에 10칸 띄어서 출력해주세요

'In 2005, Lu Chao of     67,890 digits of pi'

In [37]:
# 0 인덱스 의미
# (7/67890)의 .4는 소수점 이하의 숫자를 4개 까지 출력
# (7/67890)의 % 결과값을 백분율로 환산하여 출력
"I remember {0:.4} or {0:.4%} of what Lu Chao recited".format(7/67890)

'I remember 0.0001031 or 0.0103% of what Lu Chao recited'

In [39]:
# 5자리 숫자로 표현하되 빈 칸을 0으로 채워 출력
# d는 10진수(decimal)

print("My ID number is {0:05d}".format(42))

My ID number is 00042

In [41]:
# 1:05d의1 인덱스 의미
print("My ID number is {1:05d}".format(42, 770))

My ID number is 00770

## % 연산자로 포매팅하기

In [42]:
# 삽입할 값이 십진수라면 삽입할 위치에 %d라고 입력
# % 연산자를 이용 삽입할 값(7)을 지정하여 출력

s = 'I only know %d digits of pi' % 7
print(s)

I only know 7 digits of pi

In [45]:
# 삽입할 값이 문자열이라면 값을 삽입할 위치에 %s 입력, 
# 소괄호를 이용하여 변수를 지정, 실수라면 %f

print('Some digits of %(cont)s: %(value).2f' % {'cont': 'e', 'value': 2.718})

Some digits of e: 2.72

In [50]:
print('Some digits of %(cont)s: %(value).4f' % {'cont': 'e', 'value': 2.718})

Some digits of e: 2.7180

In [49]:
print('Some digits of %s: %.2f' % ('e', 2.718))

Some digits of e: 2.72

## f-strings로 포매팅 사용하기

In [51]:
# 문자열 앞에 f를 붙임
var = 'flesh wound' 
s = f"It's just a {var}!" 
print(s)

It's just a flesh wound!

In [52]:
lat='40.7815°N' 
lon='73.9733°W' 
s = f'Hayden Planetarium Coordinates: {lat}, {lon}' 
print(s)

Hayden Planetarium Coordinates: 40.7815°N, 73.9733°W

## 정규식으로 전화번호 패턴 찾기
* 원하는 패턴의 문자열을 가장 효율적으로 찾아주는 방법

In [53]:
import re # 정규식 임포트
tele_num = '1234567890'

In [61]:
# match : 문자열의 처음부터 검색하여 찾아낸 패턴의 양 끝 인덱스로 반환합니다.
# \d : 숫자 1개를 의미([0-9]와 동일)
# pattern : 10개의 숫자를 의미하는 10개의 \d
# string : 테스트용 문자열 패턴을 찾으면 Match 오브젝트를 반환

m = re.match(pattern='\d\d\d\d\d\d\d\d\d\d', string=tele_num) 
print(type(m))
print(m)

<class 're.Match'>
<re.Match object; span=(0, 10), match='1234567890'>

In [62]:
# p198 --> 7라인
# 패턴 뒤에 중괄호 {} 숫자 반복 
m = re.match(pattern='\d{10}', string=tele_num) 
print(type(m))
print(m)

<class 're.Match'>
<re.Match object; span=(0, 10), match='1234567890'>

In [57]:
# span : 찾은 패턴의 인덱스
# match : 찾은 패턴의 문자열
print(m)

In [58]:
# match 메서드가 반환한 Match 오브젝트는 bool 메서드로 True,False를 판단할 수 있다.
bool(m)

True

In [63]:
if m:
    print('match')
else:
    print('no match')

match

In [64]:
# start 메서드는 첫 번째 인덱스를 반환
print(m.start())

0

In [65]:
# end 메서드는 마지막 인덱스를 반환
print(m.end())

10

In [66]:
# span 메서드는 찾은 패턴의 첫번째와 마지막 인덱스를 반환
print(m.span())

(0, 10)

In [67]:
# group 메서드는 찾아낸 패턴을 반환
print(m.group())

1234567890

In [70]:
tele_num_spaces = '123 456 7890'

In [71]:
m = re.match(pattern='\d\d\d\d\d\d\d\d\d\d', string=tele_num_spaces) 
print(m)

None

In [72]:
if m:
    print('match')
else:
    print('no match')

no match

In [73]:
# '?' : 0 혹은 1번의 패턴이 발생
# \s : 공백 문자(띄어쓰기, 탭, 엔터 등)
tele_num_spaces = '123 456 7890'
p = '\d{3}\s?\d{3}\s?\d{4}' 
m = re.match(pattern=p, string=tele_num_spaces) 
print(m)

<re.Match object; span=(0, 12), match='123 456 7890'>

In [74]:
# 지역코드 소괄호()
tele_num_space_paren_dash = '(123) 456-7890' 
p = '\(?\d{3}\)?\s?\d{3}\s?-?\d{4}' 
m = re.match(pattern=p, string=tele_num_space_paren_dash) 
print(m)

<re.Match object; span=(0, 14), match='(123) 456-7890'>

In [75]:
# 국가코드
# '+' : 1번 이상의 패턴이 발생
cnty_tele_num_space_paren_dash = '+1 (123) 456-7890' 
p = '\+?1\s?\(?\d{3}\)?\s?\d{3}\s?-?\d{4}' 
m = re.match(pattern=p, string=cnty_tele_num_space_paren_dash) 
print(m)

<re.Match object; span=(0, 17), match='+1 (123) 456-7890'>

## compile 메서드로 정규식 메서드 사용하기(p200쪽)

In [76]:
# 패턴을 반복해서 사용하려면 compile 메서드로 패턴을 컴파일 한 후 변수에 저장하고 사용
p = re.compile('\d{10}')
s = '1234567890'
m = p.match(s)
print(m)

<re.Match object; span=(0, 10), match='1234567890'>