In [14]:
import glob
nyc_taxi_data = glob.glob('../data/taxi_data/fhv_*')
print(nyc_taxi_data)

['../data/taxi_data\\fhv_tripdata_2015-01.csv', '../data/taxi_data\\fhv_tripdata_2015-02.csv', '../data/taxi_data\\fhv_tripdata_2015-03.csv', '../data/taxi_data\\fhv_tripdata_2015-04.csv', '../data/taxi_data\\fhv_tripdata_2015-05.csv']

In [15]:
import pandas as pd
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

In [18]:
print(taxi1.head(n=2))
print(taxi2.head(n=2))
print(taxi3.head(n=2))
print(taxi4.head(n=2))
print(taxi5.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN

In [20]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

In [21]:
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])
print(taxi.shape)

(17367717, 3)

# 반복문으로 데이터 준비하기

In [27]:
list_taxi_df = []
for i in nyc_taxi_data:
    df = pd.read_csv(i)
    print(i)
    list_taxi_df.append(df)
print(len(list_taxi_df))

../data/taxi_data\fhv_tripdata_2015-01.csv
../data/taxi_data\fhv_tripdata_2015-02.csv
../data/taxi_data\fhv_tripdata_2015-03.csv
../data/taxi_data\fhv_tripdata_2015-04.csv
../data/taxi_data\fhv_tripdata_2015-05.csv
5

In [28]:
print(type(list_taxi_df[0]))

<class 'pandas.core.frame.DataFrame'>

In [30]:
print(list_taxi_df[0].head())

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN

In [31]:
taxi_concat = pd.concat(list_taxi_df)
print(taxi_concat.shape)

(17367717, 3)

In [32]:
print(taxi.equals(taxi_concat))

True