In [99]:
# 첨부한 파일을 불러오세요.(CCTV.csv)
import pandas as pd
df = pd.read_csv('../data/CCTV.csv', sep=',')
print(df.head(n=5))

    구별    소계       최근증가율       인구수       한국인      외국인      고령자     외국인비율  \
0  강남구  2780  150.619195  570500.0  565550.0   4950.0  63167.0  0.867660
1  강동구   773  166.490765  453233.0  449019.0   4214.0  54622.0  0.929765
2  강북구   748  125.203252  330192.0  326686.0   3506.0  54813.0  1.061806
3  강서구   884  134.793814  603772.0  597248.0   6524.0  72548.0  1.080540
4  관악구  1496  149.290780  525515.0  507203.0  18312.0  68082.0  3.484582

       고령자비율    CCTV비율           오차
0  11.072217  0.487292  1388.055355
1  12.051638  0.170552   465.422892
2  16.600342  0.226535   329.342026
3  12.015794  0.146413   551.503155
4  12.955291  0.284673   162.948104

In [93]:
# 1. 아래와 같이 데이터 프레임을 만들어 보세요.
import pandas as pd
aa = pd.DataFrame({
    'Name' : ['Bob','Jessica','Mary','John','Mel'],
    'Births' : [968, 155, 77, 578, 973]
})
print(aa)

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [5]:
# 2. 하나의 열을 선택하세요.
print(aa.iloc[:,[0]])

      Name
0      Bob
1  Jessica
2     Mary
3     John
4      Mel

In [25]:
# 3. 0~3 번째 인덱스를 선택하세요.
print(aa.iloc[:3])

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [27]:
# 4. Births 열이 100보다 큰 데이터를 선택해 보세요.
print(aa[aa['Births'] > 100])

      Name  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [28]:
# 5. 평균값을 계산해 보세요.
print(aa.mean())

Births    550.2
dtype: float64

In [64]:
# 6.아래와 같은 데이터프레임을 만들어 보세요.
test = pd.DataFrame({
    'name' : ['John','Jenny','Nate'],
    'age' : [20,30,30],
    'job' : ['student','developer','teacher']
})
print(test)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [100]:
# 7. 1부터 3까지 행(row)을 출력해 보세요.(순차적 선택)
print(test[0:3])

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [39]:
# 8. 0, 2번 행(row)을 선택해서 출력해 보세요.(순차적이지 않은 row 선택)
print(test.loc[[0,2]])

   name  age      job
0  John   20  student
2  Nate   30  teacher

In [74]:
# 9.모든 행(row)을 보여주되, 열(column)은 0부터 1까지만 출력
print(test.iloc[:,0:2])

    name  age
0   John   20
1  Jenny   30
2   Nate   30

In [82]:
# 10.모든 행(row)을 보여주되, 열(column) 0와 2만 출력
print(test.iloc[:, [0,2]])

    name        job
0   John    student
1  Jenny  developer
2   Nate    teacher

In [86]:
# 11. 나이가 27살 이상인 사람만 출력해 보세요.
age = test['age']
print(test[age >= 27])

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [90]:
# 12. 나이가 27살 이상이고, 이름이 'Jenny'인 사람만 출력해 보세요.
tt = test[age >= 27]
print(tt[tt['name']== 'Jenny'])

    name  age        job
1  Jenny   30  developer

In [91]:
# 13. 데이터프레임에서 'name'과 'age' 열만 출력해 보세요.
test.loc[:, ['name', 'age']]

    name  age
0   John   20
1  Jenny   30
2   Nate   30