# 시리즈와 데이터프레임 직접 만들기
## 데이터 프레임과 시리즈는 리스트나 딕셔너리와 비슷하지만 데이터를 다루는데 더 특화되어 있다.
### 1. 시리즈 만들기

In [2]:
import pandas as pd
s = pd.Series(['apple',33])
print(s)
print(type(s))

0    apple
1       33
dtype: object
<class 'pandas.core.series.Series'>

In [3]:
list_data = ['2021-04-28', 3.14, 'orajava', 100, True]
s = pd.Series(list_data)
print(s)
print('\n')
print(type(s))

0    2021-04-28
1          3.14
2       orajava
3           100
4          True
dtype: object


<class 'pandas.core.series.Series'>

In [4]:
# 인덱스 배열은 변수 idx에 저장, 데이터 값 배열은 변수 val에 저장
idx = s.index
val = s.values
print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2021-04-28' 3.14 'orajava' 100 True]

In [6]:
dict_data = {'a':1, 'b':2, 'c':3}
s = pd.Series(dict_data)
idx = s.index
val = s.values
print(s)
print(type(s))
print(idx)
print(val)

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>
Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

### 2. 시리즈를 생성할 - 문자열을 인덱스로 지정할 수도 있다

#### 문자열을 인덱스로 지정하려면 Series 메서드의 index 인자를 통해 사용하고자 하는 리스트에 담아 전달하면 된다.

In [7]:
s = pd.Series(['Jane','student'], index = ['Person','Job'])
print(s)

Person       Jane
Job       student
dtype: object

### 3. 딕셔너리로 데이터 프레임 생성하기
* 파이썬의 기본 자료구조로 데이터프레임 생성이 가능함
* 아래의 예제는 딕셔너리로 데이터프레임을 생성하는 예제이다
* 딕셔너리를 DataFrame클래스에 전달해야 함
* 데이터프레임의 컬럼은 모두 시리즈입니다. 
* 아래 예제는 5개의 시리즈로 구성된 데이터 프레임입니다.

In [10]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25','1876-0613'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]})
scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician   1876-0613  1937-10-16   61

In [13]:
print(scientists.shape)
print(type(scientists))

(2, 5)
<class 'pandas.core.frame.DataFrame'>

#### colums 인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있다. 
* (index, columns 지정)

In [15]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'],
          'Born' : ['1920-07-25', '1876-06-13'],
          'Died' : ['1958-04-16', '1937-10-16'],
         'Age' : [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
columns=['Occupation', 'Born','Age','Died'])
scientists

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

## 딕셔너리는 데이터의 순서를 보장하지 않는다.
## 순서가 보장된 딕셔너리를 전달하려면 OrderedDict클래스를 사용

In [20]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name' , ['Rosaline Franklin', 'William Gosset']),
    ('Occupation' , ['Chemist', 'Statistician']),
    ('Born' , ['1920-07-25','1876-0613']),
    ('Died' , ['1958-04-16','1937-10-16']),
    ('Age' , [37,61])
])
)
scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician   1876-0613  1937-10-16   61

## 데이터프레임에서 시리즈 선택하기

In [23]:
scientists = pd.DataFrame(
    data={'Occupation' : ['Chemist', 'Statistician'],
          'Born' : ['1920-07-25', '1876-06-13'],
          'Died' : ['1958-04-16', '1937-10-16'],
         'Age' : [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
columns=['Occupation', 'Born','Died','Age'])
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [22]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [24]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

## index, values 속성과 keys 메서드 사용하기

### 1. index 속성 사용하기

In [25]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 2. values 속성 사용하기

In [26]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

### 3. keys 메서드 사용하기
* index 속성과 같은 역할을 한다.

In [27]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 4. index 속성 응용하기

In [28]:
print(first_row.index[0])

Occupation

### 5. keys 메서드와 index 속성 응용하기

In [29]:
print(first_row.keys()[0])

Occupation

## 시리즈의 mean, min, max, std 메서드 사용하기

In [36]:
ages = scientists['Age']
print(ages)
print(type(ages))

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
<class 'pandas.core.series.Series'>

In [38]:
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

49.0
37
61
16.97056274847714

## 시리즈와 불린 추출 사용하기

In [39]:
scientists = pd.read_csv('../data/scientists.csv')

In [45]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [44]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [47]:
print(ages > ages.mean())
print(type(ages > ages.mean()))

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>

In [48]:
manual_bool_values = \
[True,True,False,False,True,True,False,True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

## 벡터와 스칼라로 브로드캐스팅 수행하기

In [49]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [50]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [51]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [52]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [54]:
# 길이가 서로 다른 벡터를 연산
# 같은 인덱스 값만 계산된다
# 나머지는 계산할 수 없으므로 누락값으로 처리(NaN)
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [55]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [56]:
# 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다는 것을 알수 있다.
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

## 불린 추출과 브로드캐스팅

In [57]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [59]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

## 시리즈와 데이터프레임의 데이터 처리하기

In [60]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [72]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [73]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [74]:
scientists.shape

(8, 5)

In [75]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [76]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

## 5. 시리즈, 데이터프레임의 데이터 섞기

In [77]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [80]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

## 7. 데이터프레임의 열 삭제하기

In [81]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [82]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')